---
- hosts: all
  gather_facts: yes

  tasks:
  - name: Remove old zabbix agent
    become: yes
    apt:
      name: zabbix-agent
      state: absent

  - name: Install zabbix agent2
    become: yes
    apt:
      name: zabbix-agent2
      state: present
      update_cache: yes

  - name: Stop service zabbix-agent2
    become: yes
    service:
      name: zabbix-agent2
      state: stopped

  - name: Remove old zabbix config file
    become: yes
    file:
      path: /etc/zabbix/zabbix_agentd.conf
      state: absent

  - name: Create new zabbix config file from template
    become: yes
    template:
      src: ./templates/zabbix_agent2.conf.j2
      dest: /etc/zabbix/zabbix_agent2.conf
      owner: root
      group: root
      mode: 0644
      backup: yes

  - name: Start service zabbix-agent
    become: yes
    service:
      name: zabbix-agent2
      state: started
